################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BackEndTask/v17/.suo
/.vs/BackEndTask/FileContentIndex/0358cb46-8926-4519-bb9b-6f53f8832cbb.vsidx
